* {
    margin: 0;

    font-family: 'Inter','Open Sans', sans-serif;
}

header {

    background-image: url('images/donation13.jpg'), linear-gradient(180deg, rgba(18, 18, 18, 0.116) 0%, rgba(15, 15, 15, 50) 100%);
    background-size: 100% 100vh;
    background-repeat: no-repeat;
    height: 800px;
    background-blend-mode: overlay;

}

.banner {
    padding: 200px 307px;
    justify-content: center;
    text-align: center;
    margin-bottom: 175px;
}

.banner-title {
    font-weight: 700;
    font-size: 65px;
    font-weight: 700;
    font-size: 65px;
    text-align: center;
    color: #FFFFFF;
    letter-spacing: 0.1em;
    margin-bottom: 20px;
}

.banner-des {
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    color: #FFFFFF;
    letter-spacing: 0.1em;
    margin-bottom: 30px;
}

.p-btn {
    background: #FF5959;
    border-radius: 5px;
    border: 0;
    font-weight: 600;
    font-size: 20px;
    /* width: 160px; */
    color: white;
    padding: 16px 12px;
}

/* donate today */
.collect {
    margin: 130px;
    /* display: flex;
    justify-content: center; */
}

.section-title {
    font-weight: 700;
    font-size: 45px;
    line-height: 54px;
    text-align: center;

    color: #121212;
}

.section-des {
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    margin: 20px 375px 50px 375px;
    /* or 156% */

    text-align: center;

    color: #707070;

}

.price-container {
    display: flex;
    justify-content: center;
    gap:22px;
}

.price {
    background: #FAFAFA;
    border-radius: 5px;
    padding: 44px 23px;
    display: flex;
    justify-content: center;
    font-weight: 700;
    font-size: 30px;
    text-align: center;

    color: #707070;
}

.price:hover {
    background: #FFEEEE;
    border: 2px solid #FF5959;
    border-radius: 5px;
}

.user-input{
    margin: auto;
    width: 50%;
   text-align: center;
    padding: 10px;
}
.input-text{
    border: 0;
    border-bottom: 1px solid red;
    text-align: center;
    padding: 5px ;
    margin: 30px; 
    
    font-size: 18px;
    width: 765px;

color: #B3B3B3;
}
/* 
our donate plan */
.box-container{
    display: flex;
    margin: 0 160px;
    justify-content: center;
    gap: 30px;
}
.box{
    width: 360px;
    margin-bottom: 130px;
    height: 352px; 
    background: rgba(255, 89, 89, 0.1); 
    border-radius: 5px;
}
.images{
    margin: 33.5px 0 16px 23px ;
}
.box-title{
    font-weight: 600;
font-size: 24px;
color: #121212;
padding: 16px 23px;
}
.box-des{
    font-weight: 400;
font-size: 16px;
padding: 16px 23px;
color: #707070;
}
.box1{
    background: #FFF4D6;
}
.box-2{
    background: rgba(255, 89, 89, 0.1); 
}
.box-3{
    background: #FFF4D6;
}
.news-row{
    display: flex;
    margin: 0 250px;
    justify-content: center;
}
.news-title{
    font-weight: 700;
    font-size: 45px;
    /* width: 500px; */
    color: #121212; 
    margin-bottom: 20px;
}

/* 
contact */

.contact{
    margin: 130px 300px;
}
.contact-input{
    display: flex;
    justify-content: center;
    background: #FFF4D6;
    border-radius: 5px;
    padding: 100px;


}
.contact-input>input{
    font-weight: 500;
font-size: 16px;
color: #AA9F9F;
background: #D9D9D9;
border: 0;
border-radius: 5px 0px 0px 5px;
padding-left: 30px;
}

.p-btn2 {
    background: #FF5959;
    border-radius: 0px 5px 5px 0px;
    border: 0;
    font-weight: 600;
    font-size: 20px;
    /* width: 160px; */
    color: white;
    padding: 16px 12px;
}
/* footer */
footer{
    background: #0B0D17;
    padding: 45px ;
    
}
.f-title{
    font-weight: 400;
    font-size: 36px;
    letter-spacing: 0.5px;  
    color: #FF5959;
    font-family: "Lobster";
    text-align: center;
}
.f-des{
    font-weight: 400;
    font-size: 14px;
    color: #D9DBE1;
    text-align: center;
}